
h1{
	fontsize:2rem;
	line-height:1.3em;
	text-align: center;
	color: #7ebb76;
	}
h2{
	fontsize:1rem;
	line-height:1.3em;
	text-align: left;
	color: #7ebb76;
	}

.header {
	
	background:#7EBB76;
	color: white;
	padding: -18rem 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	align-items: flex-start;
	
	position:relative;
	left: 0;
	bottom: 0;
	
	right:0;
	}

	
	.footer {
    background: url(imagenes/footer3.png);
	padding:59px;
	position:fixed;
	left: 0;
	bottom: 0;
	right:0;
	}
	
	.slider{
	width: 100%;
	margin: auto;
	overflow: hidden;
	
	}
	
	.slider ul {
	padding: 0;
	display: flex;
	width: 400%;
	animation: cambio 20s infinity alternate linear;
	animation-timing-function: ease;
	}
	

   .slider li{
	width: 100%;
	list-style: none;
	}

.slider img{
	width: 100%;
}

@keyframes cambio  {
	
	0% {margin-left: 0;}
   20% {margin-left: 0;}
	
   25% {margin-left: -100%;}
   45% {margin-left: -100%;}
	
   50% {margin-left: -200%;}
   70% {margin-left: -200%;}
   
   75% {margin-left: 300%;}
   100% {margin-left: -300%;}
	
	
}
	
   
	

	
	
	

	
	